node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# git update-index --assume-unchanged app.json //Disable tracking
# git update-index --no-assume-unchanged <file> //reenabling Tracking